[package]
name = "chat-server"
version = "0.1.0"
edition = "2024"

[dependencies]
chat-server-lib = { path = "../chat-server-lib" }
tokio = { version = "1.36", features = ["full"] }
tracing = "0.1"
tracing-subscriber = "0.3"
anyhow = "1.0"